@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root{
    --primaryColor: #90A959;
    --secondColor: #72aee9;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainRed: #C45151;
    --mainGreen: #4CAF50;
}

*{
    margin:0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    --c: rgb(0 0 0 / 0.95);
    --bgb: linear-gradient(var(--c), var(--c));
    --bg: repeating-conic-gradient( from 7.5deg at center center, hsl(200, 100%, 0%) 0deg 15deg, hsl(200, 100%, 60%) 10deg 30deg );
    background: var(--bgb), var(--bg), black;
}
h1{
    margin: 1rem;
}


.btn{
    text-decoration: none;
    background: initial;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 2px;
    display: block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
}

.btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25) , 0 10px 10px rgba(0,0,0,22);
}
h1{
    font-family: 'Ramche';
    margin: 11px 0px;
    font-size: 30px;
    text-align: center;
    color: white;
}